@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
}

.container {
  display: flex;
  margin-top: 1%;
  width: 100%;
}

.cards {
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* Graph Section */

#page-one .graph {
  width: 80%;
}

/* Stats Cards Section */

.box {
  width: 25%;
  margin-bottom: 5%;
  background: #fff;
  border: 1px solid #ccc;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
  padding: 10px 10px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
  font-family: "Lato", sans-serif;
}

.content {
  padding: 20px 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/* Map Section */

.map-container {
  width: 40%;
}

#map {
  margin-right: 1%;
}

.legend-container {
  margin-left: 50%;
  width: 50%;
}

.legend {
  color: black;
  width: 100%;
  font-family: arial;
  font-size: 14px;
}

.legend_color {
  display: table;
  width: 100%;
  background: white;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.legend_color li {
  width: 20%;
  height: 20px;
  display: table-cell;
}

.legend_label {
  display: table;
  width: 100%;
  padding: 0px;
  padding-left: 10%;
  padding-right: 10%;
  list-style: none;
  margin: 0px;
  box-sizing: border-box;
}

.legend_label li {
  width: 25%;
  height: 20px;
  display: table-cell;
  text-align: center;
}
