@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.footer {
  font-size: 0.9rem;
  background-color: #f4f4f4;
  color: #2f2f2f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer h2 {
  font-weight: 400;
  font-size: 1.1rem;
}

.footer address {
  margin-top: 1rem;
}

.footer li {
  list-style: none;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.nav__ul {
  margin: 0;
  padding: 0;
}

.nav__ul li {
  margin-top: 1rem;
}

.nav__ul a {
  color: #999;
  text-decoration: none;
}

.footer__addr {
  margin: 2rem 5rem;
}

.footer__nav {
  margin: 2rem 14.3rem;
}

.legal {
  color: #999;
  margin: 0 5rem 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
