@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.footer {
  margin-top: 10rem;
  font-size: 0.9rem;
  background-color: rgb(244, 244, 244);
  color: #2f2f2f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer h2 {
  font-weight: 400;
  font-size: 1.1rem;
}

.footer address {
  margin-top: 1rem;
}

.footer li {
  list-style: none;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__nav {
  margin: 3rem 5rem 0;
  padding: 0;
}

.nav__ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__ul li {
  margin-top: 1rem;
  margin-right: 1rem;
}

.nav__ul a:hover {
  color: #2f2f2f;
}

.nav__ul a {
  color: #777;
  text-decoration: none;
}

.footer__addr {
  margin: 2rem 5rem;
}

.signup {
  margin-top: 3rem;
}

.signup h2 {
  margin-bottom: 1rem;
}

.signup input[type="email"] {
  font-size: 0.85rem;
  padding: 0.5rem;
  width: 12rem;
  border: 1px solid #467eff;
}

.signup input[type="email"]:focus {
  outline-width: 2px;
  outline-color: #0066cc;
}

.signup input[type="email"]::placeholder {
  opacity: 0.6;
}

.signup input[type="submit"] {
  margin-left: 1rem;
  background-color: #467eff;
  border-radius: 30px;
  border: 1px solid #29668f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.signup input[type="submit"]:hover {
  background-color: #0066cc;
}

.signup input[type="submit"]:active {
  position: relative;
  top: 1px;
}

.legal {
  color: #777;
  margin: 0 5rem 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.heart {
  color: red;
}

@media (max-width: 768px) {
  .signup {
    display: block;
    text-align: center;
    margin: 3rem auto;
  }
}
