.helpline_num,
.resources,
.centres {
  font-family: "Lato", sans-serif;
}

.helpline_num {
  margin-left: auto;
  margin-right: auto;
}

.helpline_num table {
  width: 90%;
}

.helpline_num {
  border: none;
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.helpline_num tbody tr {
  font-size: 15px;
  font-weight: bold;
}

.helpline_num thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bolder;
}

.helpline_num th,
.helpline_num td {
  padding: 12px 15px;
}
.helpline_num tbody tr {
  border-bottom: 1px solid #dddddd;
}

.helpline_num tbody tr:nth-of-type(even) {
  background-color: #c8c2bc;
}

.helpline_num tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.helpline_num th {
  border-left: none;
  border-right: none;
}

.helpline_num tbody :hover {
  transform: scale(1.02);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.helpline_num h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: #1eae98;
}

.num {
  color: blue;
}

/* Resources Section */

.resources h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  /* color: #39a2db; */
}

.resources p {
  font-weight: bold;
  line-height: 1.8;
  margin: 0 20%;
  padding: 1% 5%;
  border-radius: 10px;
}

.resources a {
  word-wrap: break-word;
  text-decoration: none;
  color: rgb(0, 123, 255);
}

.resources {
  margin: 0 20%;
}

.resources p:hover {
  background-color: #edeef0;
}

.banner p {
  margin: 5% 15%;
  padding: 2%;
  color: rgb(0, 123, 255);
  line-height: 1.5;
  background-color: rgba(0, 123, 255, 0.125);
  border-radius: 10px;
}

/* Testing Centres Section */

.centres h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: #61b15a;
}

.testing-centres{
  margin-left: auto;
  margin-right: auto;
}

.testing-centres {
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 80%;
}

.testing-centres tbody tr {
  font-size: 15px;
  font-weight: bold;
}

.testing-centres thead tr {
  background-color: #52734d;
  color: #ffffff;
  text-align: left;
  font-weight: bolder;
}

.testing-centres th,
.testing-centres td {
  padding: 12px 15px;
}

.testing-centres tbody tr {
  border-bottom: 1px solid #1e6f5c;
}

.testing-centres td,
th {
  border-left: 1px solid #1e6f5c;
  border-right: 1px solid #1e6f5c;
}

.testing-centres td:first-child {
  border-left: none;
}

.testing-centres td:last-child {
  border-right: none;
}

.testing-centres th:first-child {
  border-left: none;
}

.testing-centres th:last-child {
  border-right: none;
}

.testing-centres tr td:nth-child(even) {
  background: #ddffbc;
}

.testing-centres tr td:nth-child(odd) {
  background: #91c788;
}

.testing-centres td:hover {
  transform: scale(1.03);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
