/* Preloader Section */

.loader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.disppear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Navbar Section */

.navbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px lightgray;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #468dff;
  transition: all 0.3s ease 0s;
}

.navbar li:hover,
.navbar li:focus {
  color: lightcoral;
  transform: scale(1.1);
}

.logo {
  cursor: pointer;
  width: 20%;
  height: 6rem;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  transform: scale(1.05);
}

.top-heading-container {
  color: white;
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);

  background-image: linear-gradient(to right, #005c97, #363795),
    url("../images/background.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-position: 3%;
  background-repeat: no-repeat;
  padding: 4% 0;
  padding-right: 55%;
  padding-left: 5%;
}

.top-heading-container p {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: fadeInLeft;
  padding-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.25;
}

.top-heading-container h4 {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: fadeInDown;
  padding-top: 2rem;
}

.top-heading {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: fadeInRight;
  font-size: 2.3rem;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.middle-heading-container {
  padding-left: 5%;
  font-size: 1.5rem;
}

.middle-heading {
  font-family: "Lato", sans-serif;
}

#page-two .middle-heading-container {
  padding-top: 5%;
  padding-bottom: 5%;
}
