* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #fff;
}

.page-two {
  max-width: 1200px;
  margin: 0 auto;
}

.state-container {
  margin-top: 2%;
  padding-bottom: 1%;
  background-color: #e6e6fa;
}

.hide {
  display: none;
}

.latest-reports {
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 30px;
  color: black;
}

.flex-container {
  margin-right: 8%;
  padding: 5px 5px 0 5px;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: row wrap; */
  gap: 12px;
  justify-content: space-evenly;
  height: 200px;
}

.state-chart {
  width: 80%;
  height: 70vh;
  min-height: 500px;
  margin: 5% auto;
}

.total-cases,
.recovered,
.deaths,
.vaccinated1,
.tested {
  width: 180px;
  height: 150px;
  font-weight: bold;
  text-align: center;
}

.state {
  font-weight: bold;
  margin-left: 9%;
}

.title {
  font-size: 25px;
}

.name {
  font-size: 40px;
  align-content: flex-start;
}

/* Value Section */

.value {
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: 700;
}

.total-cases .value {
  color: rgb(255, 215, 0);
}

.recovered .value {
  color: rgb(46, 139, 87);
}

.deaths .value {
  color: rgb(255, 0, 0);
}

.vaccinated1 .value {
  color: rgb(10, 129, 171);
}

.new-value {
  font-size: 15px;
  position: relative;
  top: 30px;
}

/* Search Box Section */

.close-btn {
  margin-left: 4%;
}

.search-state {
  align-content: flex-start;
}

.search-box {
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 30px;
  background-color: grey;
  z-index: 1;
}

::placeholder {
  color: black;
}

.search-box input {
  align-content: flex-start;
  width: 360px;
  height: 25px;
  border: none;
  background-color: transparent;
  color: black;
  padding-left: 15px;
  font-size: 1.1em;
}

.search-box img {
  align-content: flex-start;
  width: 20px;
  padding-right: 5px;
  cursor: pointer;
}

.state-list {
  display: flex;
  align-content: flex-start;
  width: 400px;
  height: 300px;
  background-color: rgba(243, 241, 239, 0.8);
  opacity: 0.9;
  overflow-y: scroll;
}

.state-list ul {
  width: 100%;
}

.state-list ul li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  color: black;
}

.state-list ul li:hover {
  color: orangered;
  border-left: 1px solid black;
}

/* SCROLL BAR */
.state-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.state-list::-webkit-scrollbar-track {
  background: grey;
}

/* Handle */
.state-list::-webkit-scrollbar-thumb {
  background: blue;
}

/* Handle on hover */
.state-list::-webkit-scrollbar-thumb:hover {
  background: blue;
}

.change-state {
  align-content: flex-start;
  cursor: pointer;
}
